.sm_logo{
  margin: 5px 16px;
}
.footer{
  display: block;
  height: 300px;
  background: #636569;
}
.footer_logo{
  text-align: center;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 48px 0px;
}
.footer_sm{
  display: flex;
  justify-content: center;
}
.footer_navbar{
  width: 100%;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  justify-content: space-around;
  text-align: center;  
  padding: 48px 0 36px 0px;
}
.footer_navbar > a {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF; 
  outline: none;
  text-decoration: none;
}