.content{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content_container{
  margin: auto auto;
}
.columns{
  display: inline-flex;
  flex: 1;
  margin-top: 70px;
  padding: 50px;
}
.column_left{  
  padding: 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.column_right{
  padding: 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.info_label{
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}
.header_label{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
input {   
  width: 384px; 
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 48px;
  border-left: none;
  border-top: none;
  border-right: none;
}
input::placeholder {
  color: #C5CACD;
}
.input_file{
  display: none;
}
.input_file label input { opacity: 0; }
.send_button{
  width: 300px;
  height: 50px;
  border-color: #FFFFFF;
  box-shadow: none;
  background: #93C0DD;
  border-radius: 10px;
  margin-top: 20px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}
.send_button:active{
  border-color: none;
}
.upload_button{
  width: 300px;
  height: 50px;
  background: #93C0DD;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  display: flex;
}
.upload_button_container > span{
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
  color: #FFFFFF;    
  padding: 0px 8px;
}
.upload_button_container{
  margin: auto;
  display: flex;
}
textarea:focus, input:focus, button:focus{
  outline: none;
}
.fileName{
  display: flex;
}
.fileName > label{
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #636569;
  padding: 10px;
}
.file_sended{
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #93C0DD;
  text-align: left;
  padding-top: 64px;
}